/* Geral */
body, p, h1, h2, input, textarea{
    margin: 0%;
    font-family: Roboto;
}

h2 {
    font-size: 30px;
}

/* navBar*/
#navbar {
    background-color: #ED1E24;
    color: white;
    padding: 0 15px;
    height: 60px;
}

#navbar h2, #navbar ul, #nav-list li , #navbar nav{
    display: inline-block;
    

}

#navbar h2 {
    margin: 0;
    line-height: 60px;
    margin-left: 55px;
}

#navbar img {
    height: 40px;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
}

#navbar nav {
    float: right;
    
}
#navbar ul {
    margin-top: 22px;
}

#navbar li {
    margin: 0 10px;
    
}
#nav-list li a {
    text-decoration: none;
    color: white;
}

#nav-list li a:hover {
    border-bottom: 1px solid white;
}


/* banner*/
#main-banner {
    height: 70vh;
    background-image: url(../img/bg-projeto.jpg);
    background-size: cover;
    padding: 15vh;
}
#banner-info {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    color: white;
    text-align: center;
}

#banner-info img {
    height: 120px;
    border-radius: 50%; /* Arredonda a imagem */
    background-color: red;
    margin-top: 30px;
    margin-bottom: 30px;
}
#banner-info p {
    background-color: red;
    font-weight: bolder;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
#about-section {
    background-color: red;
    text-align: center;
    color: white;
    height: 350px;
    padding-top: 50px;
}

#about-section h2{
    margin-bottom: 20px;
}

#about-section p {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}

#skill-section {
    margin-top: -100px;
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius:  10px;
}
#skill-section .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skill-container {
    flex: 1 1 1;
    text-align: center;
    padding: 60px 25px;
}

.central  {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.skill-container h3{
    color: red;
    font-size: 20px;
}

.skill-container img {
    height: 60px;  
    padding: 15px;  
    margin-bottom: 25px;
    border-top: 1px solid red;
    border-left: 1px solid red;
    border-right: 4px solid red;
    border-bottom: 4px solid red;
    
}

.skill-container .subtitle {
    font-weight: bold;
    color: red;
    margin-top: 50px;
    margin-bottom: 15px;
}


.skill-container p {
    line-height: 25px;
}

.job-section {
    text-align: center;
    padding: 50px;;
}

.job-section h2 {
    color:red;
    margin-bottom: 30px;
}

.job-section p {
    margin-bottom: 50px;
}

.job-section a {
    color: red;
    font-weight: bold;
}

.job-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.job-box {
    flex: 1 1 200px;
    margin-left: 25px;
    margin-right: 25px;
    height: 300px;
    background-size: cover ;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
}

.proj1 {
    background-image: url('../img/proj1.jpg');
}

.proj2 {
    background-image: url('../img/proj2.jpg');
}

.proj3 {
    background-image: url('../img/proj3.jpg');
}

footer {
    padding: 50px 0;
    background-color: red;
    color: white;
    text-align: center;
    
}

footer img {
    margin: 30px 0;
    height: 50px;
}
footer h2 {
    padding: 20px;

}

footer p {
    margin-top: 25px;    
}

footer form {
    
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
footer input, footer textarea {
    border: none;
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

footer .detail {
    font-weight: bold;
}

/* Responsivo celulares  media query*/
@media(max-width: 450px) {

    /* Geral */
   h1, p, input, textarea , #navbar-list li a {
        font-size: 1.2rem;
    }

#navbar h2 {
    display: none;
}
#navbar img {
    top: 9px;
}

#navbar ul {
    margin-top: 1.1rem;
}

#main-banner {
    height: 40vh;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

#banner-info {
    width: 60%;
}

#banner-info p  {
    margin: 0;
    width: 110px;
}

#about-section {
    padding: 2rem;
    height: auto;
    padding-bottom: 50px;
}

#skill-section {
    margin-top: -35px;
    width: 90%;
}

#skill-section .container {
    flex-direction: column;
}

.skill-container h3, .skill-container .subtitle {
    font-size: 1.3rem;
}

.skill-container {
    padding: 25px;
}

.skill-container.central {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.job-section p , .job-section h2 {
    width: 85%;
    margin-right: auto;
    margin-left: auto;

}

.job-container {
    flex-direction: column;
    margin-bottom: 0;
}

.job-box {
    margin-bottom: 2rem;
    flex: 1 1 300px;
}

}

footer {
    padding: 50px 15px;
}

footer form {
    width: 100%;
}

.detail {
    margin-top: 10px;
    display: block;
}